html,  body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #191b19, #2b302b);
  background-color: black;
}
.login-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 15px;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}
.center{
  text-align: center;
  
}

.login-form .btn {
  width: 100%;
}

.error{
  font-size:1rem;
  color:rgba(255,0,0,0.5);
}


.min-vh-100 {
  min-height: 100vh; /* Altura mínima del 100% del viewport */
  display: flex;
  flex-direction: column;
}

/* Utilizar flexbox en el contenedor del contenido */
.flex-grow-wrapper {
  flex-grow: 1; /* Permite que el contenedor se expanda */
  display: flex;
}

/* Estilo para el menú lateral para que ocupe todo el espacio disponible */
.menu-lateral {
  flex-grow: 1; /* Permite que el menú lateral se expanda */
  background-color: rgba(61, 55, 55, 0.979);/* Color de fondo para el menú lateral */
}

.boton-con-imagen {
  position: relative; /* Establece la posición relativa para permitir posicionar la imagen de manera absoluta */
  display: inline-block; /* Hace que el botón se comporte como un bloque en línea */
  padding: 5px 10px; /* Espaciado interno del botón */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Borde redondeado del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos CSS para la imagen dentro del botón */
.boton-con-imagen img {
  position: absolute; /* Establece la posición absoluta para la imagen */
  top: 50%; /* Posición vertical centrada */
  left: 5px; /* Posición izquierda de la imagen */
  transform: translateY(-50%); /* Centra verticalmente la imagen */
  width: 20px; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos CSS para el texto dentro del botón */
.boton-con-imagen span {
  margin-left: 25px; /* Margen izquierdo para separar la imagen del texto */
}

.cartas {
  margin-bottom: 20px;
  float: right;
}
